<div class="centre">
    <%= image_tag "fortune-cookie.svg", size: "128x128" %>
    <h1><%= @fortune %></h1>
    <h3>Repository: <a href="https://github.com/gt-hive-benedict-lee/containers-course">https://github.com/gt-hive-benedict-lee/containers-course</a></h3>
</div>
